<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section  style="min-height: 92.1vh; background-color: #f6f6ee">
		<div class="container p-5 mt-3">
	
			<div class="row">
				<a href="/admin/products" class="text-decoration-none" style="margin-top: 12px;font-family: sans-serif; color: #505C3C;"><i
					class="fa-solid fa-arrow-left"></i> Back</a>
				<div class="col-md-8 offset-md-2">
					<div>
						<div class="card-header text-center fs-3">
							<p class="fs-3"
							style="font-family: sans-serif; color: #505C3C; font-weight: bold; margin-top: 10px; margin-bottom: 25px;">EDIT PRODUCTS</p>

							<th:block th:if="${session.succMsg}">
								<p class="text-success fw-bold text-center" style="font-size: 1.8rem; font-weight: 700;">[[${session.succMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>

							<th:block th:if="${session.errorMsg}">
								<p class="text-danger fw-bold text-center" style="font-size: 1.8rem; font-weight: 700;">[[${session.errorMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>
						</div>


						<div class="card-body">
							<form action="/admin/updateProduct" method="post"
								enctype="multipart/form-data">
								<input type="hidden" name="id" th:value="${product.id}">
								<div class="mb-3 col">
									<label style="color: #505C3C; font-size: 18px; font-family: sans-serif; font-weight: bold;"> Enter Title</label> <input type="text" name="title"
										th:value="${product.title}" class="form-control" style="color: #505C3C; font-family: sans-serif; font-weight: 500">
								</div>

								<div class="mb-3 col">
									<label style="color: #505C3C; font-size: 18px; font-family: sans-serif; font-weight: bold;"> Enter Description</label>
									<textarea rows="3" cols="" class="form-control"
										name="description" style="color: #505C3C; font-family: sans-serif; font-weight: 500">[[${product.description}]]</textarea>
								</div>

								<div class="row">
									<div class="mb-3 col">
										<label style="color: #505C3C; font-size: 18px; font-family: sans-serif; font-weight: bold;"> Category</label> <select class="form-control"
											name="category">
											<option style="color: #505C3C; font-family: sans-serif; font-weight: 500">[[${product.category}]]</option>
											<option th:each="c:${categories}" style="color: #505C3C; font-family: sans-serif; font-weight: 500">[[${c.name}]]</option>
										</select>
									</div>

									<div class="mb-3 col">
										<label style="color: #505C3C; font-size: 18px; font-family: sans-serif; font-weight: bold;"> Enter Price</label> <input type="number" name="price"
											th:value="${product.price}" class="form-control" style="color: #505C3C; font-family: sans-serif; font-weight: 500">
									</div>
								</div>
								<div class="row">
									<div class="mb-3 col">
										<label style="color: #505C3C; font-size: 18px; font-family: sans-serif; font-weight: bold;"> Discount</label><input type="number" name="discount"
											th:value="${product.discount}" class="form-control" style="color: #505C3C; font-family: sans-serif; font-weight: 500">
									</div>

									<div class="mb-3 col">
										<label style="color: #505C3C; font-size: 18px; font-family: sans-serif; font-weight: bold;"> Discount Price</label><input type="number" readonly
											th:value="${product.discountPrice}" class="form-control" style="color: #505C3C; font-family: sans-serif; font-weight: 500">
									</div>
								</div>
								
								<div class="mb-3">
									<label style="color: #505C3C; font-size: 18px; font-family: sans-serif; font-weight: bold;">Status</label>

									<div class="form-check">
										<input class="form-check-input" type="radio" checked th:checked = "${product.isActive} ==true"
											value="true" name="isActive" id="active"> <label style="color: #505C3C; font-family: sans-serif; font-weight: 500"
											class="form-check-label" for="flexRadioDefault1">
											Active </label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" value="false" th:checked = "${product.isActive} ==false"
											name="isActive" id="flexRadioDefault2"> <label style="color: #505C3C; font-family: sans-serif; font-weight: 500"
											class="form-check-label" for="flexRadioDefault2">
											Inactive </label>
									</div>
								</div>

								<div class="row">

									<div class="mb-3 col">
										<label style="color: #505C3C; font-size: 18px; font-family: sans-serif; font-weight: bold;"> Enter Stock</label> <input type="text" name="stock"
											th:value="${product.stock}" class="form-control" style="color: #505C3C; font-family: sans-serif; font-weight: 500">
									</div>

									<div class="mb-3 col">
										<label style="color: #505C3C; font-size: 18px; font-family: sans-serif; font-weight: bold;"> Upload Image</label> <input type="file" name="file"
											class="form-control" style="color: #505C3C; font-family: sans-serif; font-weight: 500">
									</div>

									<div class="mt-1">
										<img th:src="@{'/img/product_img/'+${product.image}}"
											width="100px" height="100px">
									</div>
									</br>


								</div>
								<button class="btn text-white col-md-12 mt-1" style="background-color: #505C3C; font-weight: bold">Update</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<style>
		.form-check-input:checked {
	background-color: #505C3C !important;
	border: none;
}</style>
	</section>
</body>
</html>