<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">

<head>
<meta charset="ISO-8859-1">
<title>Admin</title>
</head>

<body>
	<section style="min-height: 92.1vh; background-color: #f6f6ee">
		<div class="container mt-5 p-2">
			<p class="text-center fs-3 mt-5"
				style="font-family: sans-serif; color: #505C3C; font-weight: bold; margin-top: 100px">ADMIN
				DASHBOARD</p>
			<div class="row p-5">
				<div class="col-md-4">
					<a href="/admin/loadAddProduct" class="text-decoration-none">
						<div class=" card-sh p-4"
							style="background-color: white; border-radius: 3px">
							<div class="card-body text-center" style="color: #0059b3">
								<i class="fa-solid fa-square-plus fa-2x"></i>
								<h4>Add Product</h4>
							</div>
						</div>

					</a>
				</div>

				<div class="col-md-4">
					<a href="/admin/category" class="text-decoration-none">
						<div class=" card-sh p-4"
							style="background-color: white; border-radius: 3px">
							<div class="card-body text-center text-warning">
								<i class="fa-solid fa-table-list fa-2x"></i>
								<h4>Add Category</h4>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4">
					<a href="/admin/products" class="text-decoration-none">
						<div class=" card-sh p-4"
							style="background-color: white; border-radius: 3px">
							<div class="card-body text-center text-success">
								<i class="fa-solid fa-shirt fa-2x"></i>
								<h4>View Product</h4>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 mt-4">
					<a href="/admin/orders" class="text-decoration-none">
						<div class=" card-sh p-4"
							style="background-color: white; border-radius: 3px">
							<div class="card-body text-center" style="color: #660066">
								<i class="fa-solid fa-box-open fa-2x"></i>
								<h4>Orders</h4>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 mt-4">
					<a href="/admin/users?type=1" class="text-decoration-none">
						<div class=" card-sh p-4"
							style="background-color: white; border-radius: 3px">
							<div class="card-body text-center" style="color: #00b3b3">
								<i class="fa-solid fa-users fa-2x"></i>
								<h4>Users</h4>
							</div>
						</div>
					</a>
				</div>





				<div class="col-md-4 mt-4">
					<a href="/admin/add-admin" class="text-decoration-none">
						<div class=" card-sh p-4"
							style="background-color: white; border-radius: 3px">
							<div class="card-body text-center" style="color: #993333">
								<i class="fa-solid fa-user-plus fa-2x"></i>
								<h4>Add Admin</h4>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 mt-4">
					<a href="/admin/users?type=2" class="text-decoration-none">
						<div class=" card-sh p-4"
							style="background-color: white; border-radius: 3px">
							<div class="card-body text-center" style="color: #e67300">
								<i class="fa-solid fa-users fa-2x"></i>
								<h4>Admin</h4>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 mt-4">
					<a href="/admin/revenue" class="text-decoration-none">
						<div class="card-sh p-4"
							style="background-color: white; border-radius: 3px">
							<div class="card-body text-center" style="color: #e67300">
								<i class="fa-solid fa-chart-line fa-2x"></i>
								<h4>Revenue</h4>
							</div>
						</div>
					</a>
				</div>




			</div>
		</div>
	</section>
</body>

</html>