<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Home</title>
</head>

<body style="position: relative;">
	<section>

		<!--Start Slider-->
		<div id="carouselExample" class="carousel slide" style="margin-top: 64px;">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="img/Slide/slide1.jpeg" class="d-block w-100" alt="..." height="300px">
				</div>
				<div class="carousel-item">
					<img src="img/Slide/slide2.jpeg" class="d-block w-100" alt="..." height="300px">
				</div>
				<div class="carousel-item">
					<img src="img/Slide/slide3.jpeg" class="d-block w-100" alt="..." height="300px">
				</div>
				<div class="carousel-item">
					<img src="img/Slide/slide4.jpeg" class="d-block w-100" alt="..." height="300px">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<!--End Slider-->

		<!--< Start Category Module -->
		<div class="container">
			<div class="row">
				<p class="text-center fs-2" style="font-family: sans-serif; color: #505C3C; font-weight: bold; margin-top: 30px">CATEGORY</p>
				<div class="col-md-2" th:each="c:${category}">
					<div
						class="card-sh p-3 mb-5 mt-2 " style="background-color: #f5f5ef; ">
						<div class="card-body text-center">
							<a th:href="@{'/products?category='+${c.name}}" class="text-decoration-none" style="font-family: sans-serif; color: #505C3C; font-weight: bold; font-size: 20px;">[[${c.name}]]</a>
						</div>
					</div>
				</div>


			</div>
		</div>
		<!-- End Category Module -->


		<!-- Start Latest Product Module -->

		<div class="p-3" style="background-color: #f5f5ef;">
			<div class="row">
				<p class="text-center fs-2" style="font-family: sans-serif; color: #505C3C; font-weight: bold; margin-top: 15px"><i class="fa-solid fa-fire" style = "color:red"></i> HOT PRODUCT <i class="fa-solid fa-fire" style = "color:red"></i></p>

				<div class="col-md-3" th:each="p : ${bestSellingProducts}" style="margin-top: 15px">
					<div class="card-sh mb-5 rounded" style="background-color: #f5f5ef; ">
						<div class="card-body text-center">
							<img alt="" th:src="@{'img/product_img/'+${p.image}}" class="" width="100%">
							<p class="text-center" style="margin-top: 15px; padding-bottom: 15px"><a th:href="@{'/product/'+${p.id}}" class="text-decoration-none"  style="padding-left: 25px;font-family: sans-serif; color: #505C3C; font-weight: bold; font-size: 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 90%; display: block; word-wrap: break-word; ">[[${p.title}]]</a></p>
						</div>
					</div>
				</div>

			</div>
		</div>


		<!-- End Latest Product Module -->
	</section>
</body>
</html>